@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model CarsListViewModel
@{
 // take from _ViewStart.cshtml   Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <h1>@Model.Title</h1>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                @{
                    if(Model.AllCars.Count() == 0)
                    {
                        <h2>Машин нет</h2>
                    }
                    else
                    {
                        foreach (var car in Model.AllCars)
                        {
                            <div class="col car-item">
                                <div class="card shadow-sm">
                                    <div class="car-img-block">
                                        <img class="car-img" src="@car.Img" alt="Alternate Text" />
                                    </div>

                                    <h2>@car.Name</h2>

                                    <div class="card-body">
                                        <p class="card-text">@car.ShortDesc</p>
                                        <h4>Price: @car.Price.ToString("C")</h4>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">Смотреть</button>
                                                <button type="button" class="btn btn-sm btn-outline-secondary">Редактировать</button>
                                            </div>
                                            <small class="text-muted">9 mins</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                   
                }
            </div>
        </div>
    </div> 
</main>