@model WebAppShop.Data.Models.Car;

<div class="col car-item">
    <div class="card shadow-sm">
        <div class="car-img-block">
            <img class="car-img" src="@Model.Img" alt="Alternate Text" />
        </div>

        <h2>@Model.Name</h2>

        <div class="card-body">
            <p class="card-text">@Model.ShortDesc</p>
            <h4>Price: @Model.Price.ToString("C")</h4>
            <div class="d-flex justify-content-around align-items-center">
                <div class="btn-group text-center">
                    <a class="btn btn-warning" 
                       asp-controller="ShopCart" asp-action="AddToCart" asp-route-carId="@Model.Id">
                        В корзину
                    </a>
                  </div> 
            </div>
        </div>
    </div>
</div>